body {
  margin: 0;
  padding: 0;
  background-color: #1c2331;
  color: #fff;
}

#container {
  max-width: 90%;
  margin: 0 auto;
  background-color: #1c2331;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 24px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: #1c2331;
  color: #fff;
  margin-bottom: 10px;
}

input[type="submit"],
input[type="button"] {
  width: 48%;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #1c23aa;
  color: #fff;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

input[type="button"] {
  background-color: #1c23aa;
  color: #fff;
}

input[type="button"]:hover {
  background-color: #3e8e41;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

#equation {
  margin-top: 10px;
  font-size: 16px;
  color: #2AFAFA;
}

canvas {
  display: none;
  margin-top: 20px;
  max-width: 100%;
}

.chart-container {
  display: none;
  background-color: #b2e2f2;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}

.chart-container .chartjs-size-monitor,
.chart-container .chartjs-size-monitor-expand,
.chart-container .chartjs-size-monitor-shrink {
  background-color: #1c2331;
}

.chart-container .chartjs-size-monitor-expand > div,
.chart-container .chartjs-size-monitor-shrink > div {
  background-color: #1c2331;
}

.chart-container .chartjs-size-monitor-expand,
.chart-container .chartjs-size-monitor-shrink {
  border: 4px dashed #fff;
}

.chart-container canvas {
  border: 2px solid #fff;
}
